.app{
    overflow: hidden;
}
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, var(--primary-color));
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user{
    display: flex;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-img{
    justify-self: center;
    width: 22px;
    border-radius: 50%;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name{
    justify-self: center;
    margin-left: 4px;
    font-size: 1.3rem;
    font-weight: 400;
}

.header__navbar-user-menu{
    position: absolute;
    list-style: none;
    top: 100%;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    width: 160px;
    z-index: 4;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    top: calc(100% + 4px);
    display: none;
    animation: headerNotifyGrowth ease-in .2s;
    transform-origin: calc(100% - 30px) top;
}

.header__navbar-user-menu::before {
    position: absolute;
    content: "";
    border-width: 20px 27px;
    border-style: solid ;
    border-color: transparent transparent var(--white-color) transparent;
    right: 0px;
    top: -28px;
}


.header__navbar-user-menu::after{
    content: "";
    display: block;
    width: 90%;
    height: 20px;
    position: absolute;
    top: -12px;
    right: 0;
}

.header__navbar-user-item{
    position: relative;
}

.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:hover{
    background-color: #fafafa;
    color: var(--primary-color);
}

.header__navbar-item--has-qr:hover .header__qr-code {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item,
.header__navbar-item-link {
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-icon-link:hover,
.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* header qr code */
.header__qr-code {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .4s;
    z-index: 1;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.header__qr-code-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-around;
}

.header__qr-download-img {
    height: 18px;
}

/* header notification */
.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid ;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -28px;
}

.header__notify {
    position: absolute;
    top: 150%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 34px) top;
    will-change: opacity, transform;
    animation: headerNotifyGrowth ease-in .2s;
    display: none;
    z-index: 3;
    border-radius: 2px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 25px;
    top: -17px;
    right: 0;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
    list-style: none;
}

.header__notify-item {
    display: flex;
}

.header__notify-footer-btn:hover,
.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.1);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
}

/* auth modal */
.modal{
    display: none;
}

#login_form{
    display: none;
}

.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
    font-size: 1.4rem;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials--google{
    background-color: #ff5040;
    color: var(--white-color);
}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white-color);
}
.auth-form__socials--google{
    background-color: var(--primary-color);
}

.auth-form__socials--google
.auth-form__socials-icon{
    color: #8ef52d;
}

.auth-form__socials-title{
    margin: 0 36px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 16px;
    margin: 0 16px;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

/* header with search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__mobile-search{
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon{
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo{
    width: 200px;
}

.header__logo-img{
    width: 150px;
}

.header__logo-link{
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__search{
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    flex: 1;
    display: flex;
    align-items: center;
}

.header__search-checkbox:checked ~ .header__search{
    display: flex;
}

/* cart */

.header__cart{
    width: 150px;
    display: flex;
    justify-content: center;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    align-items: center;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list{
    width: 400px;
    position: absolute;
    top: calc(100% + 1px);
    right: -5px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #ccc;
    display: none;
    animation: fadeIn ease-in .2s;
    cursor: default;
    z-index: 6;
}

.header__cart-list::before{
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 30px;
    top: calc(100% - 310px);
    right: 0;
}

.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 4px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart{
    padding: 24px 0;  
}

.header__cart-list .header__cart-no-cart-img,
.header__cart-list .header__cart-list-no-cart-msg{
    display: none;
}

.header__cart-list.header__cart-list--no-cart .header__cart-heading,
.header__cart-list.header__cart-list--no-cart .header__cart-list-items,
.header__cart-list.header__cart-list--no-cart .header__cart-view-cart{
    display: none;
}

.header__cart-list--no-cart .header__cart-no-cart-img{
    display: block;
    width: 50%;
    margin: auto;
}

.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 14px;
    text-align: center;
}

.header__cart-notice{
    position: absolute;
    padding: 1px 7px;
    top: -7px;
    right: -4px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
}

/* has cart */

.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-items{
    list-style: none;
    padding-left: 0;
    max-height: 50vh;
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    border: 1px solid var(--border-color);
    width: 42px;
    height: 42px;
    margin: 12px;
}

.header__cart-item-info{
    width: 100%;
    height: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    font-size: 1rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description{
    font-size: 1.2rem;
    color: #757575;
    font-weight: 300;
}

.header__cart-item-remove{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover{
    background-color: #FB9086;
}


/* search input */
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 2px;
    padding: 0 16px;
}

.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.header__search-select-label{
    font-size:1.4rem ;
    color: var(--text-color);
}

.header__search-select-icon{
    font-size:1.4rem ;
    color: #4a4a4a;
    margin: 0 16px 0 8px;
    position: relative;
    top: -1px;
}

.header__search-btn{
    width: 60px;
    height: 34px;
    border: none;
    background-color: var(--primary-color);
    outline: none;
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-btn:hover{
    background-color: var(--primary-color-hover);
    cursor: pointer;
}

.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option{
    border-radius: 2px;
    position: absolute;
    list-style: none;
    right: 0px;
    top: calc(100% + 4px);
    width: 130px;
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
    display: none;
    animation: fadeIn ease-in .2s;
    z-index: 2;
}

.header__search-option::after{
    top: -20px;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
    border-radius: 2px;
}

.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
    border-radius: 2px;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 10px;
}

.header__search-option-item i{
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* search history */
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #ccc;
    display: none;
    overflow: hidden;
    z-index: 2;
}

.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* header sort bar */
.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item{
    flex: 1;
}

.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    line-height: var(--header-sort-bar-height);
    height: 100%;
    text-align: center;
    position: relative; 
}

.header__sort-link::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
}

.header__sort-item:first-child .header__sort-link::before{
    display: none;
}

.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
}


/* app_container */

.app__container{
    background-color: #f5f5f5;
}

.app__content{
    padding-top: 36px;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 16px 20px 0px;
    margin-top: 0;
    text-transform: uppercase;
}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list{
    padding: 0;
    list-style: none;
    margin: 0;
}

.category-item{
    border-bottom: 1px solid #eee;
}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    content: "";
    border: 5px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link{
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 8px 20px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* nav category mobile */

.mobile-categoty{
    display: none;
}

.mobile-categoty__list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-categoty__list::-webkit-scrollbar{
    display: none;
}

.mobile-categoty__item{
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-categoty__item:nth-of-type(3n + 1) .mobile-categoty__link{
    background-color: #0f93c7;
}

.mobile-categoty__item:nth-of-type(3n + 2) .mobile-categoty__link{
    background-color: #2d40ee;
}

.mobile-categoty__item:nth-of-type(3n) .mobile-categoty__link{
    background-color: #8401ff;
}

.mobile-categoty__link{
    --line-height: 2rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
    width: 110px;
    font-weight: 300;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 0 6px;
}


/* home + filter */
    
.home-filter{
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn{
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-number{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn{
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon{
    color: #ccc;
}

/* product item */

.home-product{
    margin-bottom: 10px;
}

.home-product-item{
    text-decoration: none;
    display: block;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover{
    box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}

.home-product-item__img{
    padding-top: 100%;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    height: 3.6rem;
    overflow: hidden;
    line-height: 1.8rem;
    margin: 10px 10px 6px;

    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like{
    font-size: 1.2rem;
}

.home-product-item__like .home-product-item__like-icon-fill{
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
    color: #f63d30;
}

.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}

.home-product-item__ratings{
    font-size: .8rem;
    margin-left: auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold{
    font-size: 1rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin{
    margin: 3px 10px 0;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__favourite{
    position: absolute;
    top: 0;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    line-height: 1.6rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite span{
    color: var(--white-color);
}

.home-product-item__favourite::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite i{
    font-size: .9rem;
    color: var(--white-color);
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, .9);
    text-align: center;
}

.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    border-style: solid;
    border-width: 0 20px 5px;
    color: rgba(255, 216, 64, .9);
    border-color: transparent currentColor transparent;
}

.home-product-item__sale-off-percent{
    position: relative;
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    top: 4px;
}

.home-product-item__sale-off-label{
    position: relative;
    top: 5px;
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 500;
}

.home-product__pagination{
    margin: 56px 0 32px 0;
    padding-left: 0;
}

/* footer */
.footer{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list{
    padding: 0;
    list-style: none;
}

.footer__list-item-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #666;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer__list-item-link:hover{
    color: var(--primary-color);
}

.footer__list-item-icon{
    font-size: 1.6rem;
    margin-top: -1px;
    margin-right: 8px;
}

.footer__download{
    display: flex;
}

.footer__download-qr{
    width: 50%;
    object-fit: contain;
    border: 1px solid #ccc;
}

.footer__download-apps{
    margin-left: 16px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.footer__download-app-link{
    text-decoration: none;
}

.footer__download-app-img{
    height: 20px;
}

.footer-copyright{
    display: block;
    margin: auto;
    font-size: 1.4rem;
    padding: 20px 0;
}






